<div class="navBar">
    <div class="vachira">
      <h2>B.M.S. Alumni Network</h2>
      <br />
      <p>Basavangudi, Bangalore</p>
    </div>
    <div class="connectToUs">
      <h3>Connect to us</h3>
    </div>
    <div class="social_media">
      <ul>
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-whatsapp"></i></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>