<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%pageTitle %></title>

    <!-- <link rel="stylesheet" href=".CSS/alumHomePage.css" /> -->
    <script
      src="https://kit.fontawesome.com/b4df2e2151.js"
      crossorigin="anonymous"
    ></script>
    
  </head>

  <body>
    <div class="container">
      <div class="navBar">
        <div class="logoBox">
          <div class="logo_img">
            <img src="./images/logo.png" />
          </div>
          <div class="text_box">
            <h2>B.M.S ALUMNI NETWORK</h2>
            <br />
            <p>Autonoumous Institute, Affiliated to VTU</p>
            <br />
            <p>Estd, 1946</p>
          </div>
        </div>
        <div class="navLinkBox">
          <ul>
            <li><a href="./alumHomePage.html">HOME</a></li>
            <li><a href="./events.html">EVENTS</a></li>
            <li><a href="./gallery.html">GALLERY</a></li>
            <li><a href="./alumini.html">ALUMINI'S</a></li>
            <li><a href="./News_feed.html">NEWSLETTER</a></li>
            <li><a href="./join.html">JOIN</a></li>
          </ul>
        </div>
      </div>