*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-top: 40px;
}
.navBar{
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    padding :20px;
    background-color: black;
    color: white;
    margin-top: -40px;
    margin-left: -120px;
    margin-right: -120px;
    padding-bottom: 10px;
}
.navBar .navLinkBox{
    flex: 1;
    text-align: right;
    margin-right: 60px;
}
.navBar .navLinkBox ul{
    margin-right: 20px;
    list-style-type: none;
}
.navBar .navLinkBox ul li{
    display: inline-block;
    padding-left: 30px;
    font-size: 18px;
}
.navBar .navLinkBox ul li a{
    text-decoration: none;
    color:white;
}
.navBar .navLinkBox ul li::after{
    content: '';
    background-color: red; 
    width: 0%;
    height: 3px;
    display: block;
    margin: auto;
    transition: all .5s;
}
.navBar .navLinkBox ul li:hover::after{
    width: 100%;
}
.logoBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
}
.logoBox .text_box{
    margin-left: 20px;
    padding-left: 20px;
}
.logo_img{
   width: 130px;
}
.logo_img img{
    width: 100%;
}
.events_main_block{
    display: flex;
    padding: 20px;
    margin-top: 30px;
    justify-content: space-between;
}
.events_menu{
    flex-basis: 30%;
}
.events{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: bisque;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 400;
    transition: all .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.events:hover{
    background-color: rgb(216, 174, 119);
    /* font-weight: 600; */
    transform: translateX(20px);
}
.events_menu ul li{
    list-style-type: none;
}
.events_menu ul li a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-style: bold;
}
.events_menu ul li span{
    color: black;
    font-size: 20px;
    font-style: bold;
}
.events_display_block{
    flex-basis: 60%;
}
.events_heading{
    color: black;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}
.events_heading::after{
    content: '';
    background-color: red; 
    width: 0%;
    height: 3px;
    display: block;
    margin: auto;
    transition: all .5s;
}
.events_heading:hover::after{
    width: 75px;
}
.events_row_col_1{
    display: flex;
    padding: 20px;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.event_pic{
    flex-basis: 35%;
    width:100%;
    margin-right: -30px;
    padding-right: -40px;
}
.event_pic img{
    width: 120%;
}
.event_details{
    width: 60%;
    padding-left: 80px;
}
.event_name h2{
    text-align: center;
    font-style: italic;
    font-size: 27px;
    transition: all .3s;
    margin-bottom: 15px;
}
.event_name h2:hover{
    color: red;
}
.event_timing{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: 18px;
}
.event_timing span i{
    font-size: 20px;
    margin-right: 30px;
}
.event_location{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: 14px;
}
.event_location span i{
    font-size: 20px;
    margin-right: 30px;
}
.mode_particpants{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event_mode span i{
    font-size: 20px;
    margin-right: 25px;
}
.event_mode{
    font-size: 18px;
}
.register_button{
    width:40%;
    background-color: bisque;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    padding:10px 20px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all .5s;
}
.register_button:hover{
    background-color: rgb(216, 174, 119);
}
.vachira{
    margin-top: 40px;
    margin-left: 100px;
    height: 100px;
}
.connectToUs{
    margin-left: 50px;
    font-style: italic;
    transform: translateX(120px);
}
.social_media ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 80px;
}
.social_media ul li i{
    font-size: 20px;
    cursor: pointer;
}
.events_main_block{
   margin-bottom: 50px;
}
